<#--
 #%L
 ObServe :: Application Swing
 %%
 Copyright (C) 2008 - 2017 IRD, Code Lutin, Ultreia.io
 %%
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public
 License along with this program.  If not, see
 <http://www.gnu.org/licenses/gpl-3.0.html>.
 #L%
-->
<html>
<body>
Rights:

<strong> &bull; Reference data: </strong>
<#if canReadReferential() >
  Read
  <#if canWriteReferential() >
    / Write
  </#if>
  <#elseif canWriteReferential()>
    Write
    <#else>
      No rights
</#if>

<strong> &bull; Observer data: </strong>
<#if canReadData() >
  Read
  <#if canWriteData() >
    / Write
  </#if>
  <#elseif canWriteData() >
    Write
    <#else>
      No rights
</#if>
<Strong> &bull; Version: </Strong>
    v ${version}

</body>
</html>
