<#--
 #%L
 ObServe :: Application Swing
 %%
 Copyright (C) 2008 - 2017 IRD, Code Lutin, Ultreia.io
 %%
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public
 License along with this program.  If not, see
 <http://www.gnu.org/licenses/gpl-3.0.html>.
 #L%
-->
<#macro storageModelDataSourceInformation storageModel>
<#if storageModel??>
  <ul>
    <#if storageModel.editRemoteConfig>
      <li><strong>URL jdbc: </strong>${storageModel.pgConfig.jdbcUrl}</li>
      <li><strong>Usuario: </strong>${storageModel.pgConfig.username}</li>
      <li><strong>Contraseña: </strong>*****</li>
      <li><strong>Modo SSL: </strong>${storageModel.pgConfig.useSsl?then('Si', 'No')}</li>
      <#elseif storageModel.editServerConfig>
        <li><strong>URL del servicio web: </strong>${storageModel.restConfig.serverUrl}</li>
        <li><strong>Usuario: </strong>${storageModel.restConfig.login}</li>
        <li><strong>Contraseña: </strong>*****</li>
        <#if storageModel.restConfig.optionalDatabaseName.present>
          <li><strong>Alias de la base: </strong>${storageModel.restConfig.optionalDatabaseName.get()}</li>
        </#if>
        <#else>
          <li><strong>Usuario: </strong>${storageModel.h2Config.username}</li>
          <li><strong>Contraseña: </strong>*****</li>
    </#if>
    <li><strong>Derechos: </strong>
      <ul>
        <li>
          <em>Referencial: </em>
          <#if storageModel.dataSourceInformation.canReadReferential() >
            Lectura
            <#if storageModel.dataSourceInformation.canWriteReferential() >
              / Escritura
            </#if>
            <#elseif storageModel.dataSourceInformation.canWriteReferential()>
              Escritura
              <#else>
                No tiene derechos
          </#if>
        </li>
        <li>
          <em>Datos observador: </em>
          <#if storageModel.dataSourceInformation.canReadData() >
            Lectura
            <#if storageModel.dataSourceInformation.canWriteData() >
              / Escritura
            </#if>
            <#elseif storageModel.dataSourceInformation.canWriteData() >
              Escritura
              <#else>
                No tiene derechos
          </#if>
        </li>
      </ul>
    </li>
  </ul>

<#else>
  NO STORAGE MODEL
</#if>
</#macro>
